In [20]:
!pip install sqlalchemy==2.0.45

Requirement already satisfied: sqlalchemy==2.0.45 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.0.45)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from sqlalchemy==2.0.45) (4.15.0)

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf
import mlflow
import mlflow.tensorflow
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import os
import psycopg2
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Load marketing data from postgreSQL

In [ ]:
env_path = os.path.abspath("../.env")
load_dotenv(dotenv_path=env_path)

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

df = pd.read_sql("SELECT * FROM raw.marketing", engine)
df

       customer_id  clicks  impression  conversion                 created_at
0               56     261           1           0 2025-12-24 21:24:30.775886
1               57     149           1           0 2025-12-24 21:24:30.775886
2               37     226           1           0 2025-12-24 21:24:30.775886
3               40     151           1           0 2025-12-24 21:24:30.775886
4               56     307           1           0 2025-12-24 21:24:30.775886
...            ...     ...         ...         ...                        ...
41183           73     334           1           0 2025-12-24 21:24:30.775886
41184           46     383           1           0 2025-12-24 21:24:30.775886
41185           56     189           2           0 2025-12-24 21:24:30.775886
41186           44     442           1           0 2025-12-24 21:24:30.775886
41187           74     239           3           1 2025-12-24 21:24:30.775886

[41188 rows x 5 columns]