In [1]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")
import tensorflow as tf
from tensorflow.keras import layers, models, callbacks

from dotenv import load_dotenv
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, roc_auc_score

# Load finance data from SQL

In [2]:
env_path = os.path.abspath("../.env")
load_dotenv(dotenv_path=env_path)

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

finance = pd.read_sql("SELECT * FROM feature.finance", engine)
marketing = pd.read_sql("SELECT * FROM feature.marketing", engine)
feature_marketing = pd.read_sql("SELECT * FROM feature.marketing", engine)
feature_finance = pd.read_sql("SELECT * FROM feature.finance", engine)
marketing_score = pd.read_sql("SELECT * FROM marketing_scores", engine)
feature_finance_fraud = pd.read_sql("SELECT * FROM feature.finance_fraud_features", engine)
feature_marketing_fraud = pd.read_sql("SELECT * FROM feature.marketing_fraud_features", engine)
feature_fraud = pd.read_sql("SELECT * FROM feature.feature_fraud", engine)
label_fraud = pd.read_sql("SELECT * FROM label.fraud_label", engine)
feature_fraud_dataset = pd.read_sql("SELECT * FROM feature.training_fraud_dataset", engine)
finance_fraud_daily = pd.read_sql("SELECT * FROM feature.finance_fraud_daily", engine)
marketing_fraud_daily = pd.read_sql("SELECT * FROM feature.marketing_fraud_daily", engine)
feature_fraud_daily = pd.read_sql("SELECT * FROM feature.feature_fraud_daily", engine)
fraud_label_daily = pd.read_sql("SELECT * FROM label.fraud_label_daily", engine)
training_fraud_daily = pd.read_sql("SELECT * FROM feature.training_fraud_daily", engine)
daily_fraud_alert = pd.read_sql("SELECT * FROM alert.daily_fraud_alert", engine)
pd.set_option('display.max_columns', None)

In [3]:
# main dataset
df = feature_fraud_dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              41188 non-null  object
 1   event_date           41188 non-null  object
 2   tx_count             41188 non-null  int64
 3   total_tx_amount      41188 non-null  float64
 4   avg_tx_amount        41188 non-null  float64
 5   max_tx_amount        41188 non-null  float64
 6   std_tx_amount        41188 non-null  float64
 7   avg_account_balance  41188 non-null  float64
 8   total_clicks         41188 non-null  int64
 9   total_impressions    41188 non-null  int64
 10  total_conversion     41188 non-null  int64
 11  ctr                  41188 non-null  float64
 12  weekday              41188 non-null  float64
 13  month                41188 non-null  float64
 14  year                 41188 non-null  float64
 15  fraud_score          41188 non-null  float64
 16  fraud_label          41188 non-null  int64
dtypes: float64(10), int64(5), object(2)
memory usage: 5.3+ MB

In [4]:
df

,user_id,event_date,tx_count,total_tx_amount,avg_tx_amount,max_tx_amount,std_tx_amount,avg_account_balance,total_clicks,total_impressions,total_conversion,ctr,weekday,month,year,fraud_score,fraud_label
0,AA13249,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,222,1,0,222.000000,4.0,12.0,2025.0,231.800711,0
1,AA16259,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,237,1,0,237.000000,4.0,12.0,2025.0,246.800711,0
2,AA35121,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,133,1,0,133.000000,4.0,12.0,2025.0,142.800711,0
3,AA23441,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,167,7,0,23.857143,4.0,12.0,2025.0,33.657854,0
4,AA19754,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,243,1,0,243.000000,4.0,12.0,2025.0,252.800711,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,AA8156,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,73,1,0,73.000000,4.0,12.0,2025.0,82.800711,0
41184,AA22986,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,153,5,0,30.600000,4.0,12.0,2025.0,40.400711,0
41185,AA19073,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,196,1,0,196.000000,4.0,12.0,2025.0,205.800711,0
41186,AA37743,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,64,1,0,64.000000,4.0,12.0,2025.0,73.800711,0
41187,AA6758,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,251,3,0,83.666667,4.0,12.0,2025.0,93.467378,0

In [5]:
# Feature engineering for datetime
df['event_date'] = pd.to_datetime(df['event_date'])
df['Day'] = df['event_date'].dt.day

df = df.drop(columns=['event_date'])

In [6]:
df['fraud_label'].value_counts()

fraud_label
0    32925
1     8263
Name: count, dtype: int64

In [7]:
df.isnull().sum()

user_id                0
tx_count               0
total_tx_amount        0
avg_tx_amount          0
max_tx_amount          0
std_tx_amount          0
avg_account_balance    0
total_clicks           0
total_impressions      0
total_conversion       0
ctr                    0
weekday                0
month                  0
year                   0
fraud_score            0
fraud_label            0
Day                    0
dtype: int64

# Feature Target

In [8]:
TARGET = "fraud_label"

X = df.drop(columns=[TARGET, "user_id"])
y = df[TARGET]

# Target split data

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Scalling data

In [10]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Modeling

In [11]:
model = models.Sequential([
    layers.Input(shape=(X_train_scaled.shape[1],)),
    layers.Dense(64, activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=[
        tf.keras.metrics.AUC(name='auc'),
        tf.keras.metrics.Precision(name='precision'),
        tf.keras.metrics.Recall(name='recall')
    ]
)

model.summary()

2025-12-27 02:26:55.931941: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4
2025-12-27 02:26:55.931965: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2025-12-27 02:26:55.931968: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.92 GB
2025-12-27 02:26:55.931991: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-12-27 02:26:55.932003: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                1024

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3137 (12.25 KB)
Trainable params: 3137 (12.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

# Training model

In [ ]:
history = model.fit(
    X_train_scaled,
    y_train,
    validation_data=(X_test_scaled, y_test),
    epochs=20,
    batch_size=32,
    verbose=1
)

Epoch 1/20

2025-12-27 02:26:56.378600: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

1030/1030 [==============================] - 19s 17ms/step - loss: 0.0593 - auc: 0.9988 - precision: 0.9470 - recall: 0.9784 - val_loss: 0.0190 - val_auc: 0.9998 - val_precision: 0.9723 - val_recall: 0.9988
Epoch 2/20
1030/1030 [==============================] - 16s 16ms/step - loss: 0.0115 - auc: 0.9999 - precision: 0.9914 - recall: 0.9929 - val_loss: 0.0097 - val_auc: 1.0000 - val_precision: 1.0000 - val_recall: 0.9885
Epoch 3/20
1030/1030 [==============================] - 15s 15ms/step - loss: 0.0079 - auc: 1.0000 - precision: 0.9947 - recall: 0.9939 - val_loss: 0.0073 - val_auc: 1.0000 - val_precision: 0.9875 - val_recall: 1.0000
Epoch 4/20
1030/1030 [==============================] - 15s 15ms/step - loss: 0.0067 - auc: 0.9999 - precision: 0.9947 - recall: 0.9950 - val_loss: 0.0069 - val_auc: 1.0000 - val_precision: 0.9982 - val_recall: 0.9879
Epoch 5/20
1030/1030 [==============================] - 16s 15ms/step - loss: 0.0064 - auc: 0.9998 - precision: 0.9946 - recall: 0.9946 - val_loss: 0.0053 - val_auc: 1.0000 - val_precision: 0.9982 - val_recall: 0.9927
Epoch 6/20
1030/1030 [==============================] - 15s 15ms/step - loss: 0.0061 - auc: 1.0000 - precision: 0.9932 - recall: 0.9938 - val_loss: 0.0051 - val_auc: 1.0000 - val_precision: 0.9952 - val_recall: 1.0000
Epoch 7/20
1030/1030 [==============================] - 11s 11ms/step - loss: 0.0049 - auc: 1.0000 - precision: 0.9938 - recall: 0.9962 - val_loss: 0.0081 - val_auc: 1.0000 - val_precision: 1.0000 - val_recall: 0.9788
Epoch 8/20
1030/1030 [==============================] - 8s 7ms/step - loss: 0.0048 - auc: 0.9999 - precision: 0.9961 - recall: 0.9955 - val_loss: 0.0040 - val_auc: 1.0000 - val_precision: 0.9946 - val_recall: 1.0000
Epoch 9/20
1030/1030 [==============================] - 8s 8ms/step - loss: 0.0054 - auc: 0.9997 - precision: 0.9950 - recall: 0.9961 - val_loss: 0.0048 - val_auc: 1.0000 - val_precision: 0.9910 - val_recall: 1.0000
Epoch 10/20
1030/1030 [==============================] - ETA: 0s - loss: 0.0043 - auc: 1.0000 - precision: 0.9959 - recall: 0.9961

# Evaluation

In [ ]:
y_pred_prob = model.predict(X_test_scaled).ravel()
y_pred = (y_pred_prob >= 0.5).astype(int)

print(classification_report(y_test, y_pred))

# ROC AUC only can be calculated using predicted probabilities
if len(np.unique(y_test)) >1:
    print("ROC AUC Score:", roc_auc_score(y_test, y_pred_prob))
else:
    print("ROC AUC Score: Cannot be calculated, only one class present in y_test.")
    print(f"Test set class distribution: {np.unique(y_test, return_counts=True)}")

WARNING:tensorflow:6 out of the last 6 calls to <function Model.make_predict_function.<locals>.predict_function at 0x323527a60> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 22ms/step
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1

ROC AUC Score: Cannot be calculated, only one class present in y_test.
Test set class distribution: (array([0]), array([1]))
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1

ROC AUC Score: Cannot be calculated, only one class present in y_test.
Test set class distribution: (array([0]), array([1]))