In [10]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf
import mlflow
import mlflow.tensorflow
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import os
import psycopg2
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Load finance data from SQL

In [11]:
env_path = os.path.abspath("../.env")
load_dotenv(dotenv_path=env_path)

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

df = pd.read_sql("SELECT * FROM raw.finance", engine)
df

,customer_id,transaction_amount,account_balance,created_at
0,None,136215.0,153067.0,2025-12-24 23:12:30.014430
1,None,180576.0,242056.0,2025-12-24 23:12:30.014430
2,None,145224.0,145487.0,2025-12-24 23:12:30.014430
3,None,462015.0,540610.0,2025-12-24 23:12:30.014430
4,None,193461.0,199100.0,2025-12-24 23:12:30.014430
...,...,...,...,...
5563,None,243300.0,276577.0,2025-12-24 23:47:10.544858
5564,None,241176.0,346462.0,2025-12-24 23:47:10.544858
5565,None,185732.0,220754.0,2025-12-24 23:47:10.544858
5566,None,4202066.0,5257543.0,2025-12-24 23:47:10.544858
5567,None,4963146.0,6380256.0,2025-12-24 23:47:10.544858