In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.ensemble import IsolationForest, RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report, roc_auc_score

In [5]:
pd.set_option('display.max_columns', None)
finance = pd.read_csv("../data/raw/Finance-key.csv")
marketing = pd.read_csv("../data/raw/Marketing-key.csv", sep=";")

print(finance.shape)
print(marketing.shape)

(464, 20)
(41188, 21)

In [6]:
finance.head()

,S. No.,Banks,Year(Month),Solvency Core Capital,Total C a pital Fund,CCAR# (In %),CAR# (In %),Liquidity Total Deposit,LCY Deposit,Total Loan,L C Y L o an,CCD R a t i o * (In %),Net Liquidity (In %),SLR (In %),Base Rate (In %),Spread (In %),NPL* (In %),Net NPL (In %),Total Priority Sector Loan,Public Deposit
0,1.0,Nepal Bank Ltd.,2077(12),23220.0,24861,14.37,15.38,153490,153067,136215,136212,74.55,25.47,22.32,5.98,4.37,2.29,NaN,50.88,97563
1,2.0,Rastriya Banijya Bank Ltd.,2077(12),22310.0,24539,11.71,12.88,244287,242056,180576,180576,68.57,37.90,35.42,5.50,4.40,3.62,NaN,39.14,187831
2,3.0,Agriculture Dev. Bank Ltd.,2077(12),28660.0,39103,15.47,21.10,145493,145487,145224,145224,77.30,26.82,24.29,7.48,4.35,3.08,NaN,51.95,91661
3,NaN,Sub Total,2077(12),74190.0,88503,13.80,16.47,543270,540610,462015,462012,72.81,31.43,28.73,6.32,4.37,3.06,NaN,46.57,377054
4,4.0,Nabil Bank Ltd.,2077(12),24470.0,29024,10.35,12.28,214480,199100,193461,180926,81.25,23.58,20.98,6.18,3.20,0.48,NaN,22.71,112104

In [7]:
marketing.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no