# Import library for AI Engineer

In [1]:
import tensorflow as tf
import pandas as pd
import warnings
import os
import psycopg2
import requests
warnings.filterwarnings("ignore")
from sqlalchemy import create_engine

# Load dataset and models

In [2]:
# Load dataset and models
class ModelLoader:
    def __init__(self, model_path, engine):
        self.model_path = model_path
        self.engine = engine
        self.model = None
        
    def load_model(self):
        self.model = tf.keras.models.load_model(self.model_path)
        return self.model

    def load_data(self, query):
        with self.engine.connect() as connection:
            df = pd.read_sql(query, connection)
        return df

In [3]:
from dotenv import load_dotenv

load_dotenv(dotenv_path="../.env")

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

model_path = "../notebooks/models/fraud_model.h5"
loader = ModelLoader(model_path=model_path, engine=engine)

In [4]:
# Load model
model = loader.load_model()
model.summary()

2025-12-27 20:05:40.891826: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4
2025-12-27 20:05:40.891865: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2025-12-27 20:05:40.891872: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.92 GB
2025-12-27 20:05:40.892107: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-12-27 20:05:40.892352: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                1024

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3137 (12.25 KB)
Trainable params: 3137 (12.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [5]:
# Load data
query = "SELECT * FROM feature.training_fraud_dataset;"
df = loader.load_data(query=query)
df

,user_id,event_date,tx_count,total_tx_amount,avg_tx_amount,max_tx_amount,std_tx_amount,avg_account_balance,total_clicks,total_impressions,total_conversion,ctr,weekday,month,year,fraud_score,fraud_label
0,AA13249,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,222,1,0,222.000000,4.0,12.0,2025.0,231.800711,0
1,AA16259,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,237,1,0,237.000000,4.0,12.0,2025.0,246.800711,0
2,AA35121,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,133,1,0,133.000000,4.0,12.0,2025.0,142.800711,0
3,AA23441,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,167,7,0,23.857143,4.0,12.0,2025.0,33.657854,0
4,AA19754,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,243,1,0,243.000000,4.0,12.0,2025.0,252.800711,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,AA8156,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,73,1,0,73.000000,4.0,12.0,2025.0,82.800711,0
41184,AA22986,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,153,5,0,30.600000,4.0,12.0,2025.0,40.400711,0
41185,AA19073,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,196,1,0,196.000000,4.0,12.0,2025.0,205.800711,0
41186,AA37743,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,64,1,0,64.000000,4.0,12.0,2025.0,73.800711,0
41187,AA6758,2025-12-25,464,234972720.0,506406.724138,4963146.0,1.040360e+06,575492.148707,251,3,0,83.666667,4.0,12.0,2025.0,93.467378,0

# Create a function to see what's feature importance inside models

# Create prompt AI Engineer

# Generate Prompt

# Call LLM